<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/signup.css">
    <title>Login Form</title>
</head>
<body>

         <!-- FORMULAIRE DE CONNEXION -->
    <div class="card">
        <h2>Login Form</h2>

        <% if(error.length > 0){%>
         <div p class="error" > <p><%= error %></p> </div>
        <%}%>
            <!-- FORMULAIRE -->
        <form action="/login" class="form" method="post">
            <input type="text" name="username" placeholder="username" class="email">
            <input type="password" name="password" placeholder="password" class="pass">
                <!-- MOT DE PASSE OUBLIE ? -->
        <a href="#" class="fp">Forgot password?</a>

            <!-- BOUTTON LOGIN -->
            <button type="submit" class="login_btn">Login</button>
        </form>

        
            <div>No Account? <a href="/">signup</a></div>
    </div>
        
</body>
</html>