<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
</head>
<body>
    <nav class="navbar"><h1>profile</h1>
    <a href="/logout">Logout</a>
    </nav>
        
</body>
</html>