<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <title>Signup Form</title>
</head>
<body>

         <!-- FORMULAIRE DE CONNEXION -->
    <div class="card">
        <h2>Signup Form</h2>

            <!-- FORMULAIRE -->
        <form action="/" class="form" method="post">
            <input type="text" name="username" placeholder="username" class="email">
            <input type="email" name="email" placeholder="Email Adress" class="email">
            <input type="password" name="password" placeholder="password" class="pass">
                <!-- MOT DE PASSE OUBLIE ? -->
        <a href="#" class="fp">Forgot password?</a>

            <!-- BOUTTON LOGIN -->
            <button type="submit" class="login_btn">Singup</button>
        </form>

        

            <div>Already Account? <a href="/login">login</a></div>
    </div>
        
</body>
</html>